{% extends 'base.html' %}

{% block title %}Conference{% endblock %}

{% block rightbar %}
{% if user.is_authenticated %}

    <li style="float:right" class="bar_element"><a class="active">Signed as {{ user.username }}</a></li>
    <li style="float:right" class="bar_element"><a href="{% url 'logout' %}">Sign Out</a></li>
    {% if creator %}
        <li style="float:right" class="bar_element"><a href="/presentations/create">Create presentation</a></li>
        <li style="float:right" class="bar_element"><a href="/presentations/my">My presentations</a></li>
        {% endif %}
{% else %}
    <li style="float:right" class="bar_element"><a class="active">You are not logged in</a></li>
    <li style="float:right" class="bar_element"><a href="{% url 'login' %}">Sign In</a></li>
    <li style="float:right" class="bar_element"><a href="/accounts/register">New user? Sign up</a></li>

{% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <h2>Recent Events</h2>
  <ul class="list-group">
      {% for event in events %}
          <li class="list-group-item"><a href="/presentations/{{ event.id }}">{{event.title}}  on {{event.datetime}}</a></li>
      {% endfor %}
  </ul>
</div>
{% endblock %}